<link href = '/user_name_form.css' rel = 'stylesheet' />

<h1> Welcome to Danyeboah Blackjack </h1>

<p> You will leave here a <span id = "million">millionaire </span> or the <span id = "lose">opposite</span>....Either way, we will have <span id = "yay">fun</span>  </p>
<br/>

<form action = '/user_name_action' method = 'post'>
	<label for = 'user_name'> Tell me your name </label>
 	<input name = 'user_name' type ='text'/>
 	<br/>
 	<input type = 'submit' class="btn btn-primary" />

</form>

</div>




