
h1 {
	text-align: center;
	font-family: cursive, "Times New Roman", serif;
	font-size: 45px;
	color: #FFCC00 ;
	padding-top: 100px;

}

p {
	font-size: 22px;
	color: white;
	margin-top: 30px;
	text-align: center;
	font-family: cursive, "Times New Roman", serif;
}



form {
	margin-top: 10px;
	font-size: 18px;
	text-align: center;

}
label {
	font-size: 22px;
	color: #0033FF;
	font-weight: bold;
	font-family: Arial, "Times New Roman", serif;
}

span {
	font-family: cursive, "Times New Roman", serif;

}
